body{
  /*Fonte usada no corpo do texto*/
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;

  background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 0%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
  
  /*Margem usada no corpo do site
  margin-top: 65px;
  margin-right: 119px;
  margin-left: 153px;
  margin-bottom: 30px;*/
}

.page{
  width: 1000px;
  margin: 0px auto;
  padding-top: 65px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 55px;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul{
  display: flex;
  gap: 48px;
  /*utilizado para retirar a bolinha da lista*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul a{
  /*utilizado para retirar a decoração do link*/
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  opacity: 0.5;
}

ul li a:hover{
  font-weight: bold;
  opacity: 1;
}

h1{
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 49px;
  line-height: 56px;
  color: #1F1534;
}

h1 span{
  color: #89C5CC;
  font-weight: bold;
}

p{
  margin: 40px 0;
}

#bt_ini{
  font-size: 16px;
  padding: 14px 32px 15px;
  background-color: #69B99D;
  color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#bt_ini:hover{
  background-color: #38a17c;
}

footer{
  margin-top: 80px;
  text-align: center;
  color: #1F1534;
}

a{
  text-decoration: none;
  color: #1F1534;
}

#balls{
  position: fixed;
  right: 0;
  bottom: 0;
}